body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

#container {
    text-align: left;
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #ffffff;
    width: 865px;
    padding-top: 20px;
}

#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
}

code {
    font-size: 1.1em;
}

span.invalid {
    padding-left: 3px;
    color: red;
}

.chat-label {
    color: #000000;
    float: left;
    font-size: 13px;
    width: 130px;
    margin: 10px 0;
    clear: both;
    cursor: pointer;
}

#wrapper-login .form-box label {
    color: #000000;
    float: left;
    font-size: 13px;
    width: 130px;
    margin: 10px 0;
    clear: both;
    cursor: pointer;
}

#wrapper-login .form-box1 {
    margin: 0 auto;
    width: 520px;
}

#wrapper-login .form-box input.text {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    height: 14px;
    margin: 5px;
    padding: 4px;
    width: 170px;
}

.ui-panel {
    border-style: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.ui-datalist {
}

.ui-datalist-content {
    border-style: hidden;
}

.ui-datalist-data {
}

.ui-datalist-item {
    background-color: #666666;
    border-bottom-style: dotted;
    border-color: #666666;
    border-width: 1px;
    margin-bottom: 5px;
}

.chatOutput {
    width: 460px;
    height: 280px;
    overflow: auto;
}

.regInput {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    height: 14px;
    margin: 5px;
    padding: 4px;
    width: 170px;
}

.chatInput {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    height: 14px;
    margin: 5px;
    padding: 4px;
    width: 440px;
    height: 25px;
}
